PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_jYCe5WOnrLd0@ep-plain-leaf-ax8f0alr-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET=dayflow_hackathon_secret_2025
DIRECT_URL="postgresql://neondb_owner:npg_jYCe5WOnrLd0@ep-plain-leaf-ax8f0alr.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


ODOO_URL=http://localhost:8069
ODOO_DB=dayflowdb
ODOO_USERNAME=hr@dayflow.local
ODOO_API_KEY=37b423883eaf8cac61da9a1de6d25fc4bb274108